/auto-save-list/
/straight/
/var/
/transient/
/projects
/projectile-bookmarks.eld
/projectile.cache
/server/
/rime/
/blogs/
/recentf
/tramp
/semanticdb/
/org-clock-save.el
/bookmarks
/places
/org-roam.db
/.org-id-locations
/eln-cache/
